body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    background: url('img/nav-bg.png') repeat;
}

#lmn-sitebar {
    background: #0094FF;
    width: 100%;
    color: #FFF;
}

#lmn-sitebar .desktop ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

#lmn-sitebar .desktop ul li{
    float: left;
    margin-right: 5px;
    padding: 5px;
    transition: .25s background ease-in-out;
    border-radius: 0 10px;
}

#lmn-sitebar .desktop ul li:hover {
    background: #00137f;    
}
#lmn-sitebar .desktop ul li a{
    text-decoration: none;
    color: #FFF;
}

#lmn-sitebar .desktop td {
    float: left;
}

#lmn-sitebar-title {
    font-family: "Days One";
}